#rocket-div {
  display: flex;
  background-color: yellow;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: pink;
  height: 100%;
}