#rocket-div {
  display: flex;
  background-color: yellow;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 80vh;
  grid-gap: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.full-view-container {
  background-color: #bdd5ea;
  height: 60vh;
  border-radius: 35px;
}

#dragon-grid {
  grid-template-rows: 1fr;
  height: 40vh;
}