.rocket {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 35px;
  color: #f7f7ff;
}

.rocket-info {
  margin-top: 5%;
  margin-left: 5%;
  padding-top: 15px;
  padding-left: 15px;
  text-align: left;
  width: 25%;
  height: 40%;
  border-radius: 35%;
  background-color: #577399;
}

.more-info {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 5%;
    margin-right: 5%;
    width: 20%;
    height: 20%;
    border-radius: 35px;
    outline: none;
    background-color: #577399;
    color: #f7f7ff;
    border: none;
    transition-duration: 0.2s;
}

.more-info:hover {
  background-color: #495867;
}