/* change name to vehicle */
.rocket {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 2.5em;
  color: #f7f7ff;
}

/* change name to vehicle-info */
.rocket-info {
  margin-top: 1em;
  margin-left: 1em;
  padding-top: 1em;
  padding-left: 1em;
  text-align: left;
  width: 30%;
  height: 40%;
  border-radius: 2.5em;
  background-color: #577399;
}

.more-info {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 1em;
  margin-right: 1em;
  width: 20%;
  height: 20%;
  border-radius: 2.5em;
  outline: none;
  background-color: #577399;
  color: #f7f7ff;
  border: none;
  transition-duration: 0.2s;
}

.more-info:hover {
  background-color: #495867;
}