.full-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.full-info {
  margin-left: 2.5em;
  text-align: left;
  width: 45%;
}

/* rename to vehicle-img */
.rocket-img {
  align-self: flex-end;
  width: 40%;
  height: auto;
  position: absolute;
  border-radius: 2.5em;
}